Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2022-11, with the labels that each got.

#28 Remove `version:xxx` and add `part:select` and `part:receivers` labels
  .github/ISSUE_TEMPLATE/bug.yml
  .github/keylabeler.yml
  .github/labeler.yml
Labels: part:tooling, type:enhancement

#25 Use MkDocs to build the documentation
  .github/labeler.yml
  .github/workflows/ci.yaml
  .gitignore
  CONTRIBUTING.md
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  docs/css/mkdocstrings.css
  docs/css/style.css
  docs/index.md
  docs/logo.png
  docs/mkdocstrings_autoapi.py
  docs/overrides/main.html
  mkdocs.yml
  noxfile.py
  pyproject.toml
  src/frequenz/channels/__init__.py
  src/frequenz/channels/anycast.py
  src/frequenz/channels/base_classes.py
  src/frequenz/channels/bidirectional.py
  src/frequenz/channels/broadcast.py
  src/frequenz/channels/merge.py
  src/frequenz/channels/merge_named.py
  src/frequenz/channels/select.py
  src/frequenz/channels/utils/__init__.py
  src/frequenz/channels/utils/file_watcher.py
  src/frequenz/channels/utils/timer.py
  tests/__init__.py
  tests/test_anycast.py
  tests/test_bidirectional.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/test_select.py
  tests/utils/__init__.py
  tests/utils/test_file_watcher.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:channels, part:select

#33 ci: Add contents permission to publish-docs
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug

#35 Backport documentation generation to v0.10.x
  .github/labeler.yml
  .github/workflows/ci.yaml
  .gitignore
  CONTRIBUTING.md
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  docs/css/mkdocstrings.css
  docs/css/style.css
  docs/index.md
  docs/logo.png
  docs/mkdocstrings_autoapi.py
  docs/overrides/main.html
  mkdocs.yml
  noxfile.py
  pyproject.toml
  src/frequenz/channels/__init__.py
  src/frequenz/channels/anycast.py
  src/frequenz/channels/base_classes.py
  src/frequenz/channels/bidirectional.py
  src/frequenz/channels/broadcast.py
  src/frequenz/channels/merge.py
  src/frequenz/channels/merge_named.py
  src/frequenz/channels/select.py
  src/frequenz/channels/utils/__init__.py
  src/frequenz/channels/utils/file_watcher.py
  src/frequenz/channels/utils/timer.py
  tests/__init__.py
  tests/test_anycast.py
  tests/test_bidirectional.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/test_select.py
  tests/utils/__init__.py
  tests/utils/test_file_watcher.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:channels

#38 ci: Update aliases when deploying with mike
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug

#34 Add PyPI and Docs badges to README
  README.md
Labels: part:docs, type:enhancement

#39 ci: Use the final Python 3.11 version
  .github/workflows/ci.yaml
Labels: part:tooling, type:tech-debt

#40 docs: Replace the Home with the README
  README.md
  docs/CONTRIBUTING.md
  docs/SUMMARY.md
  docs/index.md
Labels: part:docs, type:enhancement

#41 Fix CONTRIBUTING headings
  CONTRIBUTING.md
  mkdocs.yml
Labels: part:docs, type:enhancement

#48 Use "aware" datetimes
  RELEASE_NOTES.md
  src/frequenz/channels/utils/timer.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, priority:high, type:bug, part:channels

#45 Ensure deleted receivers get cleaned up
  RELEASE_NOTES.md
  src/frequenz/channels/broadcast.py
  tests/test_broadcast.py
Labels: part:docs, part:tests, part:channels

#42 Avoid dropping of messages after breaking from `Select` blocks
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  src/frequenz/channels/anycast.py
  src/frequenz/channels/base_classes.py
  src/frequenz/channels/bidirectional.py
  src/frequenz/channels/broadcast.py
  src/frequenz/channels/merge.py
  src/frequenz/channels/merge_named.py
  src/frequenz/channels/select.py
  src/frequenz/channels/utils/file_watcher.py
  src/frequenz/channels/utils/timer.py
  tests/test_anycast.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/test_select.py
Labels: part:tests, part:channels, part:select

#49 Rename `get_{sender,receiver}` to `new_{sender,receiver}`
  RELEASE_NOTES.md
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  src/frequenz/channels/anycast.py
  src/frequenz/channels/base_classes.py
  src/frequenz/channels/bidirectional.py
  src/frequenz/channels/broadcast.py
  tests/test_anycast.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/test_select.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, type:enhancement, part:channels

#55 Clean up public API
  .github/labeler.yml
  RELEASE_NOTES.md
  docs/mkdocstrings_autoapi.py
  src/frequenz/channels/__init__.py
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_base_classes.py
  src/frequenz/channels/_bidirectional.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/bidirectional.py
  src/frequenz/channels/util/__init__.py
  src/frequenz/channels/util/_file_watcher.py
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_merge_named.py
  src/frequenz/channels/util/_select.py
  src/frequenz/channels/util/_timer.py
  src/frequenz/channels/utils/__init__.py
  tests/test_anycast.py
  tests/test_bidirectional.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/test_select.py
  tests/utils/test_file_watcher.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, part:tooling, priority:high, type:enhancement, part:channels, part:receivers

#56 FileWatcher: Don't type-check `changes`
  src/frequenz/channels/util/_file_watcher.py
Labels: type:tech-debt, part:receivers

#57 Add Python 3.11 support to RELEASE_NOTES
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#58 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt
