Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-05, with the labels that each got.

#83 Add support/tests for None-value channels
  src/frequenz/channels/_anycast.py
  tests/test_anycast.py
  tests/test_broadcast.py
Labels: part:tests, part:channels

#85 Cancel pending tasks in `__del__` methods only if possible
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_merge_named.py
  src/frequenz/channels/util/_select.py
Labels: part:select, part:receivers

#79 Make the timer generic and support periodic timers
  .github/ISSUE_TEMPLATE/bug.yml
  RELEASE_NOTES.md
  noxfile.py
  pyproject.toml
  src/frequenz/channels/util/__init__.py
  src/frequenz/channels/util/_timer.py
  tests/utils/test_file_watcher.py
  tests/utils/test_timer.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:receivers

#86 Fix `FileWatcher` `DELETE` event reporting and rearrange tests
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/channels/util/_file_watcher.py
  tests/utils/test_file_watcher.py
  tests/utils/test_integration.py
Labels: part:docs, part:tests, part:tooling, type:bug, type:tech-debt, part:receivers

#87 Report the type of change observed in FileWatcher
  RELEASE_NOTES.md
  src/frequenz/channels/util/_file_watcher.py
  tests/utils/test_file_watcher.py
  tests/utils/test_integration.py
Labels: part:docs, part:tests, part:receivers

#92 Add dependabot config and pin dependencies
  .github/dependabot.yml
  pyproject.toml
Labels: part:tooling, type:tech-debt

#102 Merge various dependency updates
  .github/workflows/labeler.yml
  pyproject.toml
Labels: part:tooling, type:enhancement

#89 Update event_types parameter in FileWatcher
  .github/RELEASE_NOTES.template.md
  RELEASE_NOTES.md
  src/frequenz/channels/util/_file_watcher.py
Labels: part:docs, part:tooling, part:receivers

#101 Validate docstring examples
  noxfile.py
  src/conftest.py
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_select.py
  src/frequenz/channels/util/_timer.py
Labels: part:tooling, part:select, part:receivers

#105 Update release notes for v0.15.1
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#106 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#108 Enable merge queue
  .github/workflows/ci.yaml
  .github/workflows/dco-merge-queue.yml
Labels: part:tooling, type:tech-debt

#109 Add possible values to timer missed_tick_policy parameter documentation
  src/frequenz/channels/util/_timer.py
Labels: part:receivers
