Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-09, with the labels that each got.

#176 Replace obsolete types
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  src/conftest.py
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_base_classes.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_merge_named.py
  src/frequenz/channels/util/_select.py
  tests/test_anycast.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/utils/test_file_watcher.py
  tests/utils/test_timer.py
Labels: part:tests, part:channels, part:select, part:receivers

#153 Upgrade to repo-config v0.5.2
  .cookiecutter-replay.json
  .editorconfig
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/release-notes-check.yml
  MANIFEST.in
  mkdocs.yml
  pyproject.toml
  src/conftest.py
Labels: part:tooling, type:tech-debt, cmd:skip-release-notes

#189 docs: Improve README and intro
  README.md
  docs/index.md
  mkdocs.yml
Labels: part:docs, part:tooling

#185 Document class and module attributes
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_base_classes.py
  src/frequenz/channels/_bidirectional.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/_exceptions.py
  src/frequenz/channels/util/_event.py
  src/frequenz/channels/util/_file_watcher.py
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_merge_named.py
  src/frequenz/channels/util/_select.py
  src/frequenz/channels/util/_timer.py
  tests/test_anycast.py
  tests/test_broadcast.py
  tests/test_merge.py
  tests/test_mergenamed.py
  tests/utils/test_file_watcher.py
  tests/utils/test_select_integration.py
  tests/utils/test_timer.py
Labels: part:tests, part:channels, part:select, part:receivers, cmd:skip-release-notes
