Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-06, with the labels that each got.

#113 Bump the minimum Python supported version to 3.11
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling, type:tech-debt

#114 Replace `Select` with `select()`, a type-safe async iterator
  RELEASE_NOTES.md
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/util/__init__.py
  src/frequenz/channels/util/_event.py
  src/frequenz/channels/util/_select.py
  src/frequenz/channels/util/_timer.py
  tests/test_select.py
  tests/utils/test_event.py
  tests/utils/test_integration.py
  tests/utils/test_select.py
  tests/utils/test_select_integration.py
Labels: part:docs, part:tests, part:channels, part:select, part:receivers

#120 Fix broken cross-reference in docs
  src/frequenz/channels/util/_event.py
Labels: part:docs, type:bug

#121 Fix typo in release notes example
  RELEASE_NOTES.md
Labels: part:docs, type:bug

#122 Run CI for tags too
  .github/workflows/ci.yaml
Labels: part:tooling, type:bug
