Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-12, with the labels that each got.

#247 Fix typo in comment
  src/frequenz/channels/timer.py
Labels: type:tech-debt, part:receivers, cmd:skip-release-notes

#243 Make `Merge` public again and rename it to `Merger`
  .darglint
  RELEASE_NOTES.md
  docs/_scripts/macros.py
  src/frequenz/channels/__init__.py
  src/frequenz/channels/_merge.py
  src/frequenz/channels/timer.py
  tests/test_merge.py
Labels: part:docs, part:tests, type:enhancement, part:receivers

#255 dependabot/pip/optional 62c46a5f26
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling

#245 Add a User Guide
  README.md
  RELEASE_NOTES.md
  docs/SUMMARY.md
  docs/index.md
  docs/user-guide/SUMMARY.md
  docs/user-guide/channels/anycast.md
  docs/user-guide/channels/broadcast.md
  docs/user-guide/channels/index.md
  docs/user-guide/error-handling.md
  docs/user-guide/installation.md
  docs/user-guide/quick-start.md
  docs/user-guide/receiving/index.md
  docs/user-guide/receiving/multiple-sources/index.md
  docs/user-guide/receiving/multiple-sources/merge.md
  docs/user-guide/receiving/multiple-sources/select.md
  docs/user-guide/sending.md
  docs/user-guide/utilities/events.md
  docs/user-guide/utilities/file-watchers.md
  docs/user-guide/utilities/timers.md
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/_exceptions.py
  src/frequenz/channels/_merge.py
  src/frequenz/channels/_receiver.py
  src/frequenz/channels/_select.py
  src/frequenz/channels/_sender.py
  src/frequenz/channels/event.py
  src/frequenz/channels/file_watcher.py
  src/frequenz/channels/timer.py
Labels: part:docs, part:channels, part:select, part:receivers
