Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-01, with the labels that each got.

#63 Add method to stop Select
  src/frequenz/channels/util/_select.py
Labels: part:select

#64 Add a private method to deactivate Broadcast receivers
  src/frequenz/channels/_broadcast.py
Labels: type:bug, part:channels

#65 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#67 Clean release notes
  .github/RELEASE_NOTES.template.md
  RELEASE_NOTES.md
Labels: part:docs, part:tooling

#68 Add stop method for MergeNamed and Merge channels
  RELEASE_NOTES.md
  src/frequenz/channels/util/_merge.py
  src/frequenz/channels/util/_merge_named.py
Labels: part:docs, part:receivers

#69 Clean release notes
  RELEASE_NOTES.md
Labels: part:docs
