Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2023-07, with the labels that each got.

#124 Migrate to use repo-config
  .cookiecutter-replay.json
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/RELEASE_NOTES.template.md
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  RELEASE_NOTES.md
  docs/SUMMARY.md
  docs/mkdocstrings_autoapi.py
  docs/overrides/main.html
  mkdocs.yml
  noxfile.py
  pyproject.toml
  src/conftest.py
Labels: part:docs, part:tooling

#136 Improve documentation
  src/frequenz/channels/util/_file_watcher.py
  src/frequenz/channels/util/_select.py
  src/frequenz/channels/util/_timer.py
Labels: type:enhancement, part:select, part:receivers

#139 Fix typo recever -> receiver
  src/frequenz/channels/util/_select.py
Labels: part:select
