Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2024-11, with the labels that each got.

#328 Add a `Receiver.triggered` method
  RELEASE_NOTES.md
  src/frequenz/channels/_receiver.py
  src/frequenz/channels/_select.py
Labels: part:docs, part:tests, part:synchronization, part:core

#332 Handle type guards properly in `Receiver.filter()`
  RELEASE_NOTES.md
  src/frequenz/channels/_receiver.py
  tests/test_broadcast.py
Labels: part:docs, part:tests, part:core

#335 Prepare for v1.2.1
  RELEASE_NOTES.md
Labels: part:docs

#336 Merge v1.2.1 into v1.x.x
  RELEASE_NOTES.md
  src/frequenz/channels/timer.py
Labels: part:docs, type:regression, part:utilities

#338 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#341 Add useful predicates to filter based on the previous value
  .github/ISSUE_TEMPLATE/bug.yml
  .github/keylabeler.yml
  .github/labeler.yml
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_predicates.py
  tests/experimental/test_predicates_changed_only.py
  tests/experimental/test_predicates_only_if_previous.py
  tests/utils/__init__.py
Labels: part:docs, part:tests, part:tooling, type:enhancement, part:utilities, part:experimental

#346 Prepare release notes for v1.4.0
  RELEASE_NOTES.md
Labels: part:docs
