Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2024-07, with the labels that each got.

#302 Import the `LatestValueCache` implementation from the Frequenz SDK
  RELEASE_NOTES.md
  docs/user-guide/receiving/caching.md
  src/frequenz/channels/__init__.py
  src/frequenz/channels/_latest_value_cache.py
  tests/test_latest_value_cache_integration.py
Labels: part:docs, part:tests

#301 Add abstractions for sharing messages between channels
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_pipe.py
  src/frequenz/channels/experimental/_relay_sender.py
  tests/experimental/__init__.py
  tests/experimental/test_pipe.py
  tests/experimental/test_relay_sender.py
Labels: part:docs, part:tests

#303 Support filtering the messages on a receiver
  RELEASE_NOTES.md
  src/frequenz/channels/_receiver.py
  tests/test_anycast.py
  tests/test_broadcast.py
Labels: part:docs, part:tests, part:core

#311 Prepare for release v1.1.0
  RELEASE_NOTES.md
Labels: part:docs

#312 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#313 Improves the documentation on `Receiver.filter`
  RELEASE_NOTES.md
  docs/_scripts/macros.py
  src/frequenz/channels/_receiver.py
Labels: part:docs, part:core

#314 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
