Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2024-09, with the labels that each got.

#318 Fix ready() method in FileWatcher
  RELEASE_NOTES.md
  src/frequenz/channels/file_watcher.py
  tests/test_file_watcher_integration.py
Labels: part:docs, part:tests, part:utilities

#319 Update release notes for release 1.1.2
  RELEASE_NOTES.md
Labels: part:docs

#321 Timer: Add support for rearming timer with new interval
  RELEASE_NOTES.md
  src/frequenz/channels/timer.py
  tests/test_timer.py
Labels: part:docs, part:tests, part:utilities

#322 Enable polling in file watcher
  .github/containers/test-installation/Dockerfile
  RELEASE_NOTES.md
  src/frequenz/channels/file_watcher.py
  tests/test_file_watcher.py
  tests/test_file_watcher_integration.py
Labels: part:docs, part:tests, part:tooling, type:bug, part:utilities

#325 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#326 Don't watch the whole directory in the file watcher test
  tests/test_file_watcher_integration.py
Labels: part:tests, type:bug
