Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2024-12, with the labels that each got.

#358 Fix documentation Broadcast -> Anycast
  src/frequenz/channels/_anycast.py
Labels: part:channels, cmd:skip-release-notes

#357 Rename `OnlyIfPrevious` to `WithPrevious`
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_with_previous.py
  tests/experimental/test_predicates_changed_only.py
  tests/experimental/test_with_previous.py
Labels: part:docs, part:tests, type:enhancement, part:experimental

#353 Update files using repo-config-0.11
  .github/dependabot.yml
  mkdocs.yml
  pyproject.toml
Labels: part:tooling

#360 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#329 Support for disabling overflow-warning logs in broadcast receivers
  RELEASE_NOTES.md
  src/frequenz/channels/_broadcast.py
Labels: part:docs, part:channels
