Repository frequenz-floss/frequenz-channels-python, pull requests merged in 2025-04, with the labels that each got.

#399 Fix unterminated code block in a documentation example
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/_with_previous.py
Labels: part:docs, part:experimental

#403 Prepare for v1.7.0
  RELEASE_NOTES.md
Labels: part:docs

#404 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#398 Update to repo-config v0.13
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  docs/_scripts/macros.py
  pyproject.toml
  tests/test_select_integration.py
  tests/test_timer.py
  tests/test_timer_integration.py
Labels: part:docs, part:tests, part:tooling, cmd:skip-release-notes

#408 Rename `close()` to `aclose()` in `Broadcast` and `Anycast`
  RELEASE_NOTES.md
  benchmarks/benchmark_anycast.py
  benchmarks/benchmark_broadcast.py
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_broadcast.py
Labels: part:docs, part:channels

#410 Update docs and add link to experimental package guidelines
  src/frequenz/channels/experimental/__init__.py
Labels: cmd:skip-release-notes, part:experimental

#409 Add OptionalReceiver for handling unset receivers
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_optional_receiver.py
  tests/experimental/test_optional_receiver.py
Labels: part:docs, part:tests, type:enhancement, part:experimental

#407 Improve documentation of the `frequenz.channels.experimental.Pipe`
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/_pipe.py
  tests/experimental/test_pipe.py
Labels: part:docs, part:tests, part:experimental

#412 Prepare release notes for the release
  RELEASE_NOTES.md
Labels: part:docs

#413 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs
